@use 'base';
$clr-dark: hsl(200 19% 6%);
$clr-light: hsl(0 0% 100%);
$clr-accent: hsl(14 100% 44%);
$clr-accent-dark: hsl(14 100% 32%);
$clr-secondary: hsl(217 100% 32%);
$br: 0.5em;

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: $clr-dark;
  color: $clr-light;
}

.img {
  max-width: 100%;
}

.game {
  position: relative;
  width: 12.5em;
}

.streamers {
  display: flex;

  img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }
}

.rank {
  position: absolute;
  top: 0;
  right: 1em;
  background: hsl(0 0% 0% / 0.65);
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.5em 0.5em 0.75em;
  clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
}

.front {
  transition: 250ms ease-in;
  .thumbnail {
    border-radius: $br;
  }

  .name {
    margin-block: 0.5em;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .streamers img {
    border: 2px solid $clr-dark;

    &:first-of-type {
      transform: translateX(50%);
      z-index: 1;
    }
    &:nth-of-type(2) {
      transform: translateX(25%);
    }
  }
}

.back {
  display: none;
}

.background {
  background: #234;
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: scale(0.2, 0.9);
  border-radius: $br;
  opacity: 0;
}

.game:hover {
  .front {
    transform: translateY(-30%) scale(0.8);

    .name {
      animation: gameName 250ms forwards;
    }

    .stats {
      opacity: 0;
    }
  }
  .background {
    transition: transform 200ms cubic-bezier(0.21, 1, 0.81, 1),
      opacity 100ms linear;
    transform: scale(1.4, 1.2);
    opacity: 1;
  }
}

@keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }

  20% {
    text-align: left;
    opacity: 0;
  }

  50% {
    text-align: center;
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    text-align: center;
    opacity: 1;
    transform: scale(1.2);
  }
}
